.header {
  height: 15em;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.header img {
  display: block;
  width: 110%;
  z-index: -1;
  filter: blur(3px);
}

.header h1 {
  position: absolute;
  margin: 0;
}
