@import url('https://fonts.googleapis.com/css?family=Stoke&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Trirong&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Quintessential&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Crimson+Pro&display=swap&subset=latin-ext');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trirong';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Stoke';
  font-weight: lighter;
}

h1 {
  font-size: 36pt;
}

h2 {
  font-size: 22pt;
}

h3 {
  font-size: 20pt;
}

h4 {
  font-size: 18pt;
}

h5 {
  font-size: 16pt;
}

h6 {
  font-size: 14pt;
}

p {
  font-family: 'Trirong';
  font-size: 12pt;
  font-weight: normal;
}

q {
  font-family: 'Quintessential';
  font-size: 13pt;
}

i {
  font-family: 'Crimson Pro';
  font-size: 9pt;
  font-style: normal;
}
