.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: beige;
}

.container h1 {
  margin: 0.5em 0;
}

.navigation {
  a {
    color: #0070f3;
    text-decoration: none;
    margin: 5px;
    display: block;
    font-family: 'Quintessential';
  }
}
