.wrapper {
  max-width: 800px;
  margin: 2em auto;
  padding: 20px;

  p {
    text-align: justify;
    margin-bottom: 2em;
  }

  i {
    max-width: 700px;
    line-height: 1em;
    display: block;
  }

  h2 {
    margin: 1em 0;
  }

  ul {
    padding-left: 1em;
  }
}
