.header {
  width: 100%;
  height: 50vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;

  .background {
    filter: blur(3px);
    margin: 0 auto;
    min-width: calc(100vw + 10px);
    min-height: 100%;
    object-fit: cover;
  }

  h1 {
    position: absolute;
  }

  i {
    position: absolute;
    right: 0.5em;
    bottom: 0;

    img {
      height: 1em;
      margin-right: 0.5em;
      vertical-align: middle;
    }

    a {
      vertical-align: middle;
      color: white;
    }
  }
}
