.header {
  width: 100%;
  height: 50vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;

  img {
    width: 120vw;
    filter: blur(3px);
    margin: 0 auto;
  }

  h1 {
    position: absolute;
  }
}
